<form name="newAddForm" action="/seller/edit/{{add._id}}" method="POST" id='addForm'  encType="multipart/form-data">
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Заголовок</span>
    <input type="text" class="form-control" name="title" placeholder="{{add.title}}" aria-label="title" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Фирма изготовитель</span>
    <input type="text" class="form-control" name="brand" placeholder="{{add.brand}}" aria-label="brand" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Модель</span>
    <input type="text" class="form-control" name="model" placeholder="{{add.model}}" aria-label="model" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Тип двигателя</span>
    <input type="text" class="form-control" name="engine" placeholder="{{add.engine}}" aria-label="engine" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Цвет</span>
    <input type="text" class="form-control" name="color" placeholder="{{add.color}}" aria-label="color" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Год изготовления</span>
    <input type="text" class="form-control" name="year" placeholder="{{add.year}}" aria-label="year" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Кол-во спальных мест</span>
    <input type="text" class="form-control" name="sleepingPlace" placeholder="{{add.sleepingPlace}}" aria-label="sleepingPlace" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Страна изготовитель</span>
    <input type="text" class="form-control" name="country" placeholder="{{add.country}}" aria-label="country" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Техническое состояние</span>
    <input type="text" class="form-control" name="condition" placeholder="{{add.condition}}" aria-label="condition" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Водительское удостоверение</span>
    <input type="text" class="form-control" name="driverLicense" placeholder="{{add.driverLicense}}" aria-label="driverLicense" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
  <label class="input-group-text" for="inputGroupSelect01">Коробка передач</label>
  <select class="form-select" id="inputGroupSelect01" name="gearbox">
    <option selected>Выберите...</option>
    <option value="МКПП">МКПП</option>
    <option value="АКПП">АКПП</option>
    <option value="Роботизированная">Роботизированная</option>
  </select>
  </div>
   <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Цена</span>
    <input type="text" class="form-control" name="price" placeholder="{{add.price}}" aria-label="price" aria-describedby="basic-addon1">
  </div>
   <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Номер телефона</span>
    <input type="text" class="form-control" name="contacts" placeholder="{{add.contacts}}" aria-label="contacts" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
  <label class="input-group-text" for="inputGroupSelect02">Тип фургона</label>
  <select class="form-select" id="inputGroupSelect02" name="category">
    <option selected>Выберите...</option>
    <option value="Интегрированный автодом">Интегрированный автодом</option>
    <option value="Полуинтегрированный автодом">Полуинтегрированный автодом</option>
    <option value="Жилой минивэн (кастенваген)">Жилой минивэн (кастенваген)</option>
    <option value="Альковный автодом">Альковный автодом</option>
    <option value="Жилой прицеп">Жилой прицеп</option>
    <option value="Жилой модуль для пикапа">Жилой модуль для пикапа</option>
  </select>
  </div>
  <div class="input-group">
    <span class="input-group-text">Описание</span>
    <textarea class="form-control" aria-label="With textarea" name="description"></textarea>
  </div>
  
  <div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile01" name="mainImage">
  <label class="input-group-text" for="inputGroupFile01">Загрузить</label>
  </div>
  <div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile02" name="image1">
  <label class="input-group-text" for="inputGroupFile02">Загрузить</label>
  </div>
  <div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile03" name="image2">
  <label class="input-group-text" for="inputGroupFile03">Загрузить</label>
  </div>
  <div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile04" name="image3">
  <label class="input-group-text" for="inputGroupFile04">Загрузить</label>
  </div>
  <div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile05" name="image4">
  <label class="input-group-text" for="inputGroupFile05">Загрузить</label>
  </div>

  <br>
  <div class="btn-group" role="group" aria-label="Basic example">
  <button type="submit" class="btn btn-primary">Добавить</button>
</div>
  {{!-- <button type="button" class="btn btn-primary">Primary</button> --}}
</form>
